

.square {
    height: 100px;
    width: 100px;
}

.container{
    height: 600px;
    width: 600px;
    border: 2px solid black;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.green{
    background-color: green;
}
